@import "tailwindcss";

@theme {
  --font-display: "Oswald", "sans-serif";
  --font-body: "Inter", "sans-serif";
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

.animate-zoom-in {
  animation: zoom-in 20s linear infinite alternate;
}